*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: helvetica;
    background-color: #D3D3D3;
}

.navbar{
    background-color: black;
    height: 100px;
    position: relative;
}

.onest{
    left: 55%;
}

h1{
    font-size: 70px;
    position: absolute;
    top: 10%;
    left: 5%;
    color: #FBFADA;
    font-weight: 600;
    font-family: Solid Italic;
}

ul{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    display: flex;
}

ul li{
    list-style: none;
}

ul li a{
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #FBFADA;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5;
    z-index: 1;
}

ul li a::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100; height: 100%;
    border-top: 2px solid #FBFADA;
    border-bottom: 2px solid #FBFADA;
    transform: scaleY(2);
    opacity: 0; transition: 0.3s;
}

ul li a::after{
    content: "";
    position: absolute;
    top: -0.5px; left: 0;
    width: 100%; height: 100%;
    background-color: #FBFADA;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
    border-radius: 20px;
}

ul li a:hover{
    color: #012822;
}

ul li a:hover::before{
    transform: scaleY(1);
    opacity: 1;
}

ul li a:hover::after{
    transform: scaleY(1);
    opacity: 1;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.left {
    margin: 10px;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 1;
    margin-right: 5px;
}

.left img {
    box-shadow: 0px 0px 40px 2px black;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.right {
    height: 310px;
    max-width: 400px; /* Set maximum width to 300px */
    width: 150%; /* Set width to 100% */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    align-self: center;
    margin-left: auto;
    margin-right: 125px;
    flex: 1;
}

.right h2 {
    margin-bottom: 20px;
  }
  
.input-group {
    margin-bottom: 15px;
  }
  
.input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

.footer {
    background-color: black;
    color: #FBFADA;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 1350px) {

    h1{
        top: 17%;
        left: 5%;
        font-size: 60px;
    }

    .onest{
        top: 50%;
        left: 70%;  
    }

    .twond {
        display: none;
    }

    .right{
        margin-left: 70px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1200px) {

    h1{
        top: 17%;
        left: 5%;
        font-size: 60px;
    }

    .onest{
        top: 50%;
        left: 70%;  
    }

    .twond {
        display: none;
    }

    
}

@media screen and (max-width: 979px) {

    h1{
        top: 17%;
        left: 2%;
        font-size: 60px;
    }

    .onest{
        top: 50%;
        left: 75%;  
    }

    .twond {
        display: none;
    }

    .container {
        flex-direction: column; 
        margin-left: 50px;
    }

    .left, .right {
        width: 90%;
    } 
    
}

@media screen and (max-width: 830px) {

    h1{
        top: 17%;
        left: 20%;
        font-size: 60px;
    }

    ul{
        display: none;
    }

    .container {
        flex-direction: column; 
        margin-left: 20px;
    }

    .left, .right {
        width: 90%; 
    }

    .right{
        margin-left: 60px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {

    h1{
        top: 18%;
        left: 23%;
        font-size: 50px;
    }

    ul{
        display: none;
    }

    .container {
        flex-direction: column; 
    }

    .left, .right {
        width: 90%; 
    }

    .right{
        margin-left: 60px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {

    h1{
        top: 18%;
        left: 18%;
        font-size: 50px;
    }

    ul{
        display: none;
    }

    .container {
        flex-direction: column; 
    }

    .left, .right {
        width: 90%; 
    }

    .right{
        margin-left: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 400px) {

    h1{
        top: 25%;
        left: 17%;
        font-size: 40px;
    }

    ul{
        display: none;
    }

    .container {
        flex-direction: column; 
    }

    .left, .right {
        width: 90%; 
    }

    .right{
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 450px) {

    h1{
        top: 25%;
        left: 15%;
        font-size: 40px;
    }

    ul{
        display: none;
    }

    .container {
        flex-direction: column;
    }

    .left, .right {
        width: 90%;
    }

    .right{
        margin-left: 10px;
        margin-bottom: 10px;
    }
}